{% extends "base.html" %}

{% block content %}
<h2>Add New Employee</h2>
<form action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Submit</button>
</form>

<h2>Employee List</h2>
<table>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Mobile</th>
            <th>Employee Code</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.fullname }}</td>
            <td>{{ employee.mobile }}</td>
            <td>{{ employee.emp_code }}</td>
            <td>{{ employee.position }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}
